* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.geral {
    min-height:100%;
    position:relative;
}

button, input, 
button:focus, input:focus {
    border: 0;
    outline: none;
}

.description {
    padding: 25px;
    margin: 10px 0 0 10px;
}

h1 {
    font-size: 1.5rem;
    color: #525252;
    margin-bottom: 5px;
}

h2 {
    font-size: 14px;
    color: #525252;
}

h3 {
    font-size: 20px;
    color: #525252;
    margin-bottom: 5px;
}